# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Phyton
2. SQL
3. R
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. MySQL
2. PostgreSQL
3. Apache Cassandra
4. Oracle Database
5. NoSQL

|Data Science Tools|
|------------------|
|Apache Spark|
| Keras|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

(6*2)+3=15 

3*6=30 

12-8+3=7

In [10]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- Show some examples of arithmetic expressions
- List popular libraries for Data Science

## Author

Marian Ceriseri